.btn-login{
    margin-left: 280%;
}
body{
    background-color: rgb(92, 92, 92);
}
.titulo{
    margin-bottom: 2%;
    margin-top: 2%;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.content-fluid{
    width: auto;
    height: auto;
}
.lg_base{
    background: #ffffffb8;
    max-width: 30%;
    margin-top: 4%;
    margin-left: 35%;
    border-radius: 3%;
}
.logo{
    text-align: center;
}
.forlogin{
    padding: 10%;
    margin-top: 4%;
}
.tit2{
    margin-top: 4%;
    margin-left: 17%;
}
.msg-sucesso{
    background: #1b7c38;
    max-width: 100%;
    margin-top: 3%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10%;
    padding: 1%;    
}
.msg-erro{
    background: #a30303;
    max-width: 100%;
    margin-top: 3%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10%;
    padding: 1%;
}
.cadimg{
    max-width: 50%;
    margin-left: 26%;
    margin-top: 3%;
}
.desc{
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.table{
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.tit{
    margin-top: 2%;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.adduser{
    text-align: right;
    margin-right: 14%;
    margin-top: 2%;
}
.search{
    max-width: 30%;
    margin-top: 2%;
    margin-left: 38%;
    margin-bottom: 2%;
}
.lg_base{
    background: #ccc;
    max-width: 30%;
    margin-top: 2%;
    margin-left: 35%;
    border-radius: 3%;
    padding: 1%;
}
.imglogo{
    width: 50%;
    margin-top: 4%;
}
.nome{
    margin-left: 230%
}
.btn-enviar{
    margin-top: 2%;
    padding: 2% 47% 2% 47%;
}
.imgtr{
    width: 10%;
    align-content: center;
}
.galeria{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 15%;
    margin-left: 13%;
    margin-bottom: 2%;
}
.foto{
    width: 100%;
}
.img_front{
    width: 100%;
    align-content: center;
}
.descricao{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.navbar-brand{
    margin-right: -11%;
}
.text{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.coyote{
    margin-top: 3%;
    width: 30%;
}
.container{
    margin-top: 2%;
    width: 53%;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.display-5{
    text-align: center;
    
}
.button{
    margin-top: 2%;
}
